{% extends "layout.html" %}

{% block heading %}
  About Us
{% endblock %}

{% block body %}
<p>The Boys’ Brigade is an international non-denominational Christian youth ministry for boys between the ages of five and 18. It has been ministering to boys and their families since 1883 and provides a unique, fun and challenging programme that is targeted specifically for young men. </p>
<p>Boys are encouraged to pursue their spiritual, physical, educational and social development through an achievement system, in which they earn badges as recognition of their progress towards increasing levels of challenge, culminating in the internationally recognised Queen’s Badge Award. </p>
<p>The 19th Hobart Tasmania Company currently offers a programme on Friday nights from 5:30-7:30pm and meets at the Hobart Baptist Church in Elizabeth St. </p>
{% endblock %}
