<!DOCTYPE html>

{% extends "layout.html" %}

{% block heading %}
  Admin
{% endblock %}

{% block body %}

<form action="{{ url_for('admin') }}" method=POST>
  <input type="text" name="Subject" placeholder="Subject">
  <input type="text" name="Body" placeholder="Body">
  <br>
  <button type="submit" name="x" value="1" onclick="Sending()">Send</button>
</form>

<p><b>Volunteers:</b></p>

<div>
  <ul style="margin: 30px auto 30px auto; width: 700px; line-height: 1.6; color: white; font-family: sans-serif;">
    {% for row in results %}
    <li>{{row[1], row[2], row[3]}}</li>
    {% endfor %}
  </ul>
</div>

<script>
function Sending() {
  alert("Sending");
}
</script>

{% endblock %}
